header {
  height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#ff0000a3;
    background-image: url(http://www.transparenttextures.com/patterns/circles.png);
}

.name {
  color: white;
}

body {
  padding-top: 120px;
}